@font-face {
  font-family: "iconfont"; /* Project id 2534132 */
  src: url('iconfont.woff2?t=1620734539097') format('woff2'),
       url('iconfont.woff?t=1620734539097') format('woff'),
       url('iconfont.ttf?t=1620734539097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanli:before {
  content: "\e6fd";
}

.icon-liuyan:before {
  content: "\e62c";
}

.icon-mima:before {
  content: "\e618";
}

.icon-jiekou:before {
  content: "\e74a";
}

.icon-ceshishenqing:before {
  content: "\eb61";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-zhanghaoquanxianguanli:before {
  content: "\eb68";
}

.icon-guanyuwomen:before {
  content: "\e608";
}

.icon-zhuye:before {
  content: "\e655";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-icon_baocun:before {
  content: "\eb8e";
}

.icon-icon_yingyongguanli:before {
  content: "\eb8f";
}

.icon-icon_shiyongwendang:before {
  content: "\eb91";
}

.icon-fenzuguanli:before {
  content: "\ec23";
}

.icon-xiaoxitongzhi:before {
  content: "\ec35";
}

.icon-youhui:before {
  content: "\ec36";
}

.icon-xiaoxi:before {
  content: "\ec3b";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-lianjie:before {
  content: "\e715";
}

.icon-wulianwang-:before {
  content: "\e60a";
}

.icon-jurassic_log:before {
  content: "\e69c";
}

.icon-Customermanagement:before {
  content: "\e74b";
}

.icon-tongxunlu:before {
  content: "\e7d3";
}

.icon-denglu:before {
  content: "\e621";
}

.icon-denglumima-baise:before {
  content: "\e610";
}

.icon-logindenglu:before {
  content: "\e6dd";
}

